@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
/* common */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #3c3c3c;
  margin: 0 4vw;
  max-width: 800px;
}
@media (min-width:801px) {
  body {
    margin: 0 auto;
  }
}

h1,h2,h3 {
  margin: 0;
}
.grade {
  font-size: 16px;
  padding: 8px;
  background: #008000;
  color: #fff;
  border-radius: 4px;
}
.grade-desc {
  margin-bottom: 16px;
  font-size: 12px;
  color: gray;
}
.set {
  display: flex;
  align-items: center;
  margin: 0;
}
.set-img {
  display: flex;
}
.set-img img {
  margin: 0;
  width: calc(100% / 18);
}
.set-img img:last-child {
  margin-left: 16px;
}
.set-desc {
  font-size: 12px;
  margin: 0;
}
.note {
  font-size: 12px;
  margin-left: 16px;
  padding: 4px;
  border-radius: 4px;
  background: tomato;
  color: white;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
article {
  margin-bottom: 16px;
}
.ruby {
  font-size: 0.8rem;
  font-weight: lighter;
}

/*----------- header -----------*/
header .container {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
}
h1 {
  margin: 16px  auto;
}
header p {
  font-size: 12px;
}
header p:last-child {
  margin-bottom: 24px;
}
header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 40px;
}
header ul li:hover {
  opacity: 50%;
}
header ul li a {
  display: block;
  box-sizing: border-box;
  text-align: center;
  width: calc(88vw / 8);
  max-width: 96px;
  font-size: 16px;
  background: #008000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
}

/* ----------- main -----------*/
main .container {
margin: 0 auto;
vertical-align: middle;
} 
section {
  margin-bottom: 48px;
}
#pai {
  margin: 0 6%;
  margin-bottom: 48px;
}
h2 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 40px;
}
main p {
  font-size: 16px;
  line-height: 1.5rem; 
  text-align: justify;
}
.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.about-img img {
  border-radius: 50%;
}
.about-img, .about-txt {
  width: 48%;
}
.num-pai,
.chara-pai, 
.sangen-pai {
  display: flex;
  margin-bottom: 32px;
}
.num-pai img,
.chara-pai img, 
.sangen-pai img{
  margin-right: 32px;
}

/*----------- footer -----------*/
footer p {
  font-weight: lighter;
  margin-bottom: 16px;
  padding: 32px 0;
  text-align: center;
  background: #008000;
  color: #fff;
}

/*----------- smartphone -----------*/
